.form-signin {
    max-width: 630px;
    padding: 2rem;

    background-color:white;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }



  /* if (userDetails.firstName === "" && userDetails.lastName === "" && userDetails.email === "" && userDetails.password === "" && userDetails.confirmPassword === "") {
    setUserErr({ firstNameErr:true, lastNameErr:true, emailErr:true, passwordErr:true,  })
}if () { */

/*  if (userDetails.firstName === "" ){
        setUserErr({...userErr, firstNameErr:true})
    } 
    else if  (userDetails.email === "" ){
        setUserErr({...userErr, emailErr:true})
    }
    else if (userDetails.password === "" ){
        setUserErr({...userErr, passwordErr:true})
    }
    else if (userDetails.confirmPassword === "" ){
        setUserErr({...userErr, confirmPasswordErr:true})
    }
} */